*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-image: url(https://media.istockphoto.com/photos/black-brick-wall-background-picture-id888349730?k=20&m=888349730&s=170667a&w=0&h=Fg7c3YuobIQsi7KaUFSU_Ji7dYuhUl0uclSd6xnQiIU=);
      
    h1{
      letter-spacing: 2px;
      font-size: 3rem;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color: white;
      text-decoration: underline orange;
    }
    h1:hover{
        transform: skew(355deg);
      }
    
      

    h3{
      color: white;
    }

    p{
    font-family: 'Kaisei Tokumin', serif;
    word-spacing: 2px;
    }


    .slider{
      color: black;
      background-color: rgba(255, 255, 255, 0.5);
    }

    h5{
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
    }
  
    .informacion{
      background-color: rgba(0, 0, 0, 0.603);
      color: rgb(119, 119, 119);  
      width: 100%;

      .Index{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }

      .info1{
        align-items: center;
       width: 60%;
      }
    }  

    .table{
        color: rgb(119, 119, 119);  

        .tabla{
          width: 53rem;
          height: 15rem;
          background-color: rgba(248, 149, 0,   0.856);
          border: 1px white solid;
          margin: 20px;
          padding: 5px;        
            th{
            color: rgb(0, 0, 0);
            }        
            td{
            color: rgb(0, 0, 0);
            font-family: 'Kaisei Tokumin', serif;
            word-spacing: 2px;
            }       
        }
    }



    .productos{
      
      color: white; 
      display: grid; 
      
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 
      "TyC PC PC PC PC PC PC"
      "TyC PC PC PC PC PC PC"
      "TyC PC PC PC PC PC PC";
    }

    .tallesYCategorias{
      grid-area: TyC;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.603);

      
    }
    .productCards{
      width: 80%;
      grid-area: PC;
      display: flex;
      flex-wrap: wrap;
     .card-text{
         color: black
     }
    }


    .contacto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form{
        background-color: rgba(255, 166, 0, 0.849);
        font-family: 'Kaisei Tokumin', serif;
        width: 60%;
        padding: 2px;
        border: 5px black solid;
      }
    }

    footer{
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      background-image: linear-gradient(black, rgb(189, 123, 0));
      color: white;
      display: grid;

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;

      .column1 li a{
        text-decoration: none;
        color: white;
      }
    }    
  }
